/*Reset some basic elements*/

body, h1, h2, h3, h4, p, blockquote {
  margin: 0;
  padding: 0;
}


body {
  background-color: whitesmoke;
  margin: 22px auto;
  width: 80%;
}

header {
  text-align: center;
  overflow: hidden;
}

header span {
  display: block;
  text-align: left;
}

header h1 {
  border-top: 1px solid black;
  margin: 5px auto;
}

header h1 span {
  display: inline-block;
  position: relative;
}

header h1 span:before, header h1 span:after {
  content:"";
  border-top: 5px solid black;
  display: block;
  position: absolute;
  top:20px;
  width: 9999px;
}

header h1 span:before {
  right: 100%;
  margin-right: 10px;
}

header h1 span:after {
  left: 100%;
  margin-left: 10px;
}
